<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Redstone Studio</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="src/assets/css/main.css" rel="stylesheet">
  </head>
  <body>
    <div class="app-container">
            <div class="ui-container">
                {{ selectedTab }} <br>
                {{ misc }} <br>
                Selected project's tickSpeed - {{ currentProject.data.tickSpeed }} <br>
                All projects - {{ projects }} <br>
                Selected project - {{ currentProject }}
            </div>
            
            <section class="tabs">
                <nav class="main-tabs">
                    <img alt="Logo" src="src/logo.png" class="main-tabs__logo"/>
        
                    <span class="main-tabs__tab" @click.prevent="selectedTab = 'save'">
                        Save
                    </span>
        
                    <span class="main-tabs__tab" @click.prevent="selectedTab = 'open'">
                        Open
                    </span>
        
                    <span class="main-tabs__tab" @click.prevent="selectedTab = 'export'">
                        Export
                    </span>
                </nav>

                <nav class="simulation-tabs">
                    <span class="simulation-tabs__tab" @click.prevent="selectedTab = 'simulation'">
                        Simulation
                    </span>

                    <span class="simulation-tabs__tab" @click.prevent="selectedTab = 'breakpoints'">
                        Breakpoints
                    </span>

                    <span class="simulation-tabs__tab" @click.prevent="selectedTab = 'edit'">
                        Edit
                    </span>

                    <span class="simulation-tabs__tab" @click.prevent="selectedTab = 'misc'">
                        Misc
                    </span>
                </nav>
            </section>

            <section class="subtabs">
                <div class="subtabs__tab subtabs__tab_simulation" v-if="selectedTab === 'simulation'">
                    <div class="subtabs__content-group">
                        <h5 class="subtabs__title">Tick speed</h5>
                        <base-input v-model="currentProject.data.tickSpeed" placeholder="10"/> 
                    </div>

                    <div class="subtabs__content-group">
                        <a class="subtabs__button" @click.prevent="startSimulation">
                            <img class="icon" src="src/assets/svg/paste.svg"/>
                            Start simulation
                        </a>
                        <a class="subtabs__button" @click.prevent="resetSimulation">
                            <img class="icon" src="src/assets/svg/paste.svg"/>
                            Reset
                        </a>
                    </div>

                    <div class="subtabs__content-group">
                        <a class="subtabs__button" @click.prevent="manualTick">
                            <img class="icon" src="src/assets/svg/paste.svg"/>
                            Manual tick
                        </a>
                    </div>
                </div>

                <div class="subtabs__tab subtabs__tab_breakpoints" v-if="selectedTab === 'breakpoints'">breakpoints selected</div>

                <div class="subtabs__tab subtabs__tab_edit" v-if="selectedTab === 'edit'">
                    <div class="subtabs__content-group">
                        <a class="subtabs__button" @click.prevent="copySelection">
                            <img class="icon" src="src/assets/svg/copy.svg"/>
                            Copy selection
                        </a>

                        <a class="subtabs__button" @click.prevent="pasteSelection">
                            <img class="icon" src="src/assets/svg/paste.svg"/>
                            Paste selection
                        </a>
                    </div>
                </div>

                <div class="subtabs__tab subtabs__tab_misc" v-if="selectedTab === 'misc'">
                    <div class="subtabs__content-group">
                        <Base-Checkbox class="subtabs__input" v-model="misc.autoRepeaters">Automatically place repeaters</Base-Checkbox>
                        <Base-Checkbox class="subtabs__input" v-model="misc.blockAssist">Highlight impossible block configurations</Base-Checkbox>    
                    </div>
                </div>
            </section>
            
            <nav class="project-tabs">
                <div
                    v-for="(project, idx) in projects"
                    class="project-tabs__tab"
                    :class="{ 'project-tabs__tab_active': project.id === currentProject.id }"
                    @click.prevent="switchProject(project.id)"
                >
                    Project {{ project.id }}

                    <img class="icon project-tabs__tab-delete" src="src/assets/svg/plus.svg" @click.prevent="removeProject(idx)"/>
                </div>

                <img class="icon project-tabs__add-tab" src="src/assets/svg/plus.svg" @click="addProject()"/>
            </nav>
            <div class="canvas-container">
                <canvas id="canvas"></canvas>
            </div>
    </div>

    <script src="dist/bundle.js"></script>
  </body>
</html>