@import './variables.css';
@import './el-plus.css';

* {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: inherit;

    font-family: 'Ubuntu', sans-serif;
}

html {
    overflow: hidden;
}

.app-container {
    width: 100%;
    height: 100vh;
    background-color: var(--background-primary);
    color: var(--text-main);
    position: relative;
}

.ui-container {
    position: absolute;
    top: 190px;
    left: 0;
    right: 0;
    bottom: 0;
}

.tabs {
    width: 100%;
    display: flex;
}

.main-tabs,
.simulation-tabs {
    padding: 6px;

    display: flex;
    align-items: center;
}

.main-tabs__tab,
.simulation-tabs__tab {
    display: inline-block;
    /* background-color: var(--background-alt);
    padding: 4px 12px;
    border: 1px solid var(--border-primary); */
    margin-right: 8px;
    font-size: 16px;
}

.simulation-tabs__tab {
    margin-right: 14px;
}

.main-tabs__tab:hover,
.simulation-tabs__tab:hover {
    cursor: pointer;
    color: var(--text-muted);
}

.main-tabs__logo {
    width: 24px;
    margin-right: 16px;
}

.canvas-container {
    background-color: var(--background-alt);
    height: calc(100% - 36px);
    width: 100%;
    border: 1px solid var(--border-primary);
    border-radius: 16px;
    border-top-left-radius: 0;
}

.simulation-tabs {
    margin-left: auto;
}

.icon {
    margin-right: 6px;
}

.subtabs {
    height: 60px;

    padding: 6px;
}

.subtabs__tab {
    display: flex;
    height: 60px;
}

.subtabs__content-group {
    display: flex;
    flex-direction: column;
}

.subtabs__content-group:not(:last-child) {
    margin-right: 12px;
}

.subtabs__input:not(:last-child) {
    margin-bottom: 6px;
}

.subtabs__button {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.subtabs__button:hover {
    cursor: pointer;
    color: var(--text-muted);
}

.subtabs__button:not(:last-child) {
    margin-bottom: 8px;
}

.subtabs__title {
    margin-bottom: 8px;
}

.project-tabs {
    display: flex;
    height: 36px;
}

.project-tabs__tab {
    width: 120px;
    border: 1px solid var(--border-primary);
    border-bottom-width: 3px;
    background-color: var(--background-alt);
    font-size: 14px;
    padding: 8px;

    cursor: pointer;
    transition: all 0.2s;

    display: flex;
    user-select: none;
}

.project-tabs__tab-delete {
    margin-left: auto;
    width: 10px;
    transform: rotate(45deg);
}

.project-tabs__tab_active {
    border-bottom-color: var(--border-secondary);
}

.project-tabs__add-tab {
    margin-left: 12px;
    cursor: pointer;
}