:root {
    --text-main: hsl(0, 0%, 100%);
    --text-muted: hsl(0, 0%, 64%);
    --text-muted-alt: hsl(0, 0%, 45%);
    --text-accent: hsl(134, 100%, 54%);

    --background-primary: hsl(0, 0%, 9%);
    --background-alt: hsl(0, 0%, 11%);
    --background-secondary: hsl(0, 0%, 14%);

    --border-primary: hsl(0, 0%, 19%);
    --border-secondary: hsl(0, 0%, 43%);

    --accent: hsl(134, 89%, 39%);
    --accent-muted: hsla(134, 89%, 39%, 0.6);
    --accent-alt: hsl(134, 100%, 54%);

    --accent-red: hsl(0, 95%, 61%);
    --accent-blue: hsl(209, 100%, 50%);
    --accent-orange: hsl(24, 100%, 50%);

    --popup-shadow: 0px 30px 70px rgba(0, 0, 0, 0.24);
    --backdrop-blur: blur(30px);
}